<div class="container lg:max-w-7xl grid grid-cols-2 lg:grid-cols-6 gap-2 my-8">
  <a href="#pañalera"
    ><img
      src="/assets/FarmaPlus_categoria-pañales-copia.png"
      alt="icono-pañales-categoría-producto"
    /></a
  >
  <a href="#lechesMaternizadas"
    ><img
      src="/assets/FarmaPlus_categoria-leches-copia.png"
      alt="icono-leches-maternizadas-categoría-producto"
    /></a
  >
  <a href="#ortopedia"
    ><img
      src="/assets/FarmaPlus_categoria-ortopedia-copia.png"
      alt="icono-ortopedia-categoría-producto"
    /></a
  >
  <a href="#dietetica"
    ><img
      src="/assets/FarmaPlus_categoria-dietética-copia.png"
      alt="icono-dietética-categoría-producto"
    /></a
  >
  <a href="#faciales"
    ><img
      src="/assets/FarmaPlus_categoria-dermatologia-copia.png"
      alt="icono-dermmocosmética-categora-producto"
    /></a
  >
  <a href="#suplementos"
    ><img
      src="/assets/FarmaPlus_categoria-suplementos-copia.png"
      alt="icono-suplementos-categoría-producto"
    /></a
  >
</div>
